<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learning Vue.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="columns">
            <div class="column">
                <div class="field">
                  <label class="label">First Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Your first name" v-model="first">
                  </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                  <label class="label">Last Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Your last name" v-model="last">
                  </div>
                </div>
            </div>
            <div class="column">
        <h1 class="is-size-1">Hello, {{ fullName }}</h1>
        <ul>
            <li>
                First name: {{ first }}
            </li>
            <li>
                Last name: {{ last }}
            </li>
        </ul>
    </div>
    </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            first: '',
            last: '',
        },
        computed: {
            fullName: () {
                return this.first + " " + this.last,
            },
        },
    })
</script>
<script src="app.js" charset="utf-8"></script>
</html>
